.layer_table {
    margin: 1rem;
    float: left;
}

label {
    display: block;
}

td {
    border-right: 1px solid rgba(128,0,255,128);
    border-bottom: 1px solid rgba(0,128,255,128);
}

div.fields {
    display: inline-block;
}

#nucleon {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5rem;
}
